# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite local databases and temporary cache
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
!data/.gitkeep

# Environments & IDEs
.env
.venv
env/
venv/
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db
